.message-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 10px;
    margin-top: 20px;
}

.message-body.owner {
    align-items: flex-end;
    color: white;
}

.message {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 0px rgb(204 198 198);
    max-width: 48%;
    overflow-wrap: anywhere;
}

.message.owner {
    background-color: #3a8df5;
    ;
    color: white;
}

.message-time-tick {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.message-time {
    padding: 0 5px;
    font-size: 12px;
    letter-spacing: 1px;
    color: black;
}

.tick {
    display: none;
    color: black;
}

.tick.owner {
    display: block;
}


@media only screen and (max-width: 340px) {
    .message-body {
        margin-top: 14px;
    }

    .message {
        font-size: 14px;
        padding: 8px;
    }

    .message-time {
        font-size: 11px;
        margin-top: 3px;
    }
}