.message-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 10px;
    margin-top: 20px;
}

.message-body.owner {
    align-items: flex-end;
    color: white;
}

.message {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 0px rgb(204 198 198);
    max-width: 48%;
    overflow-wrap: anywhere;
    display: flex;
    align-items: flex-start;
}

.message.owner {
    background-color: #3a8df5;
    color: white;
}

.message-time-tick {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.message-time {
    padding: 0 5px;
    font-size: 12px;
    letter-spacing: 1px;
    color: black;
}

.tick {
    display: none;
    color: black;
}

.tick.owner {
    display: block;
}

.message-media{
    width: 300px;
    cursor: pointer;
}

.right-click-modal{
   height: 90px;
   width: 140px;
   background-color: white;
   color:black;
   padding: 17px;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   display: none;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
}

.show-delete-menu.right-click-modal{
    display: flex;
}

.right-click-menu{
    display: flex;
    align-items: center;
    justify-content: flex;
    cursor: pointer;
}

.right-click-copy-icon{
    font-size: 20px;
}

.right-click-delete-icon{
    font-size: 24px;
}

.right-click-span{
    font-size: 16px;
    margin-left: 10px;
}

@media only screen and (max-width: 500px) {
    .message-anchor-tag{
        width: 70%;
    }

    .message-media{
        width: 100%;
    }
}

@media only screen and (max-width: 340px) {
    .message-body {
        margin-top: 14px;
    }

    .message {
        font-size: 14px;
        padding: 8px;
    }

    .message-time {
        font-size: 11px;
        margin-top: 3px;
    }

    .message-anchor-tag{
        width: 80%;
    }
}