.showprofile-div2 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 15px rgb(0 0 0 / 6%);
    border: 1px solid rgb(226, 222, 222);
    padding: 20px;
    box-sizing: border-box;
}

.showprofile-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showprofile-image-div {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}

.showprofile-image-div>h3 {
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 5px;
}

.showprofile-detail {
    padding: 20px 0px;
}

.showprofile-detail>h4 {
    font-weight: 500;
}

.showprofile-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    padding-top: 10px;
}

.edit-icon {
    margin-left: 20px;
    overflow: visible;
}

.showprofile-number>p {
    margin-top: 10px;
}

.showprofile-image {
    position: relative;
}

.profile-edit-icon {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.showprofile-remove {
    text-align: end;
    font-size: 16px;
    font-weight: 500;
    color: red;
}

.showprofile-remove>span {
    cursor: pointer;
}

#invite-btn-condition {
    display: none;
}

@media only screen and (max-width:600px) {
    #invite-btn-condition {
        display: block;
    }
}