.preview-main-div{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255,255,255,0.5);
}

.preview-image-div{
    width: 100%;
    height: 100%;
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    padding: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.preview-image{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-button{
    width: 150px;
    padding: 6px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}


@media only screen and (max-width:500px) {
    .preview-image-div {
        max-width: 100%;
        max-height: 100%;
    }
}